.parent {
  @apply text-center justify-center items-center;
  padding-top: 30%;

  /* margin: auto;
  width: 100%;
  text-align: center; */
}
.parent img {
  @apply text-center inline;
  padding-left: 20px;
}
.parent h1 {
  @apply font-semibold p-2;
  color: #04b692;
  font-size: 30px;
  margin-bottom: -7px;
}
.parent P {
  @apply p-1.5;
  color: #535454;
}
.parent a {
  background-color: #04b692;
  color: #f9f9f9;
  border-radius: 5px;
  border: 0px;
  line-height: 24px;
  padding: 2px;
}
a {
  text-decoration: none;
}
/* ============ */
.parent2 {
  @apply text-center justify-center items-center w-full;
}
.logo {
  @apply text-center justify-center items-center;
  padding-top: 40%;
  width: 100%;
  height: 30%;
}
.logo img {
  @apply text-center inline pl-5	w-28;
}
.logo h1 {
  @apply font-sans p-2;
  color: #04b692;
  font-size: 30px;
  margin-bottom: -7px;
}
.logo P {
  @apply p-1.5;
  color: #535454;
}
/* ========================= */
.form {
  @apply text-center justify-center items-center grid pt-6;
}
.form input {
  @apply bg-white my-1	text-slate-500 border-0	font-serif w-60	h-9;
}
#masuk {
  text-align: right;
  margin-top: 10px;
}
#masuk button {
  @apply rounded	 font-semibold;
  background-color: #04b692;
  color: #f9f9f9;
  width: 60px;
  padding: 4px;
  justify-content: center;
}
.punyaAkun {
  @apply pt-8;
}
.punyaAkun a {
  color: #04b692;
}
#lupaSandi {
  @apply grid;
}
/* ==================== */
.h1Login4 {
  @apply w-11/12;
  padding-left: 10%;
}
.h1Login4 h1 {
  @apply font-medium;
}
.h1Login4 p {
  @apply font-light pt-0.5 leading-none text-slate-500;
}
/* ================================= */
