.bodi {
  @apply h-screen w-screen place-items-center grid;
  background-color: rgba(0, 0, 0, 0.5);
}
.wrapper {
  @apply bg-white rounded-md 	grid;
  width: 75%;
  /* height:100px; */
}
.wrapper h1 {
  @apply bg-teal-400 text-white text-xl rounded-md font-bold;
  padding: 5px;
  padding-left: 20px;
}
.chil1 {
  @apply flex;
  padding: 5px;
}
.chil1 img {
  padding-left: 15px;
  margin-right: 10px;
}
/* ========================== */
.ubah {
  @apply w-screen h-screen place-items-center grid;
  background-color: rgba(0, 0, 0, 0.5);
}
#input {
  @apply rounded-md border justify-self-center	my-2.5	 w-11/12 grid;
  margin: 5px;
  font-size: 24px;
}#input input{
width:90%;
}
.buttonUbah {
  @apply text-end;
}
.buttonUbah button {
  @apply bg-teal-300 rounded-md font-bold text-white text-lg;
  width: 80px;
  margin: 10px;
  margin-top: 0px;
}
/* =========================== */
#inputPassword{
  @apply 	my-2.5 justify-self-center w-11/12 grid;
  font-size:24px;
}
#inputPassword input{
  margin:5px;
  width:90%;
  @apply border rounded-md justify-self-center
}
.wrapper h2{
  @apply text-center p-3	;
  
}