.navbar{
    @apply flex bg-teal-400		place-content-between;
    height:40px;
    /* justify-content:center; */
    align-items:center;
    padding-left:20px;
    padding-right:20px;
}

.navbar h1{
    @apply font-bold text-white  ;
} 
.navbar img{
    width :20px;
    height: 20px;
}
/* =================================== */
 
.wrapper{
    @apply bg-teal-400 absolute	flex justify-center items-center;
    height: 110px;

}
.parentA{
    /* position:relative; */
   top:50px;
    width: 85%;
    height:auto;
    @apply flex relative flex-wrap bg-emerald-100 justify-start items-center rounded-xl border-slate-500		border-2		;
}
#chill {
    width:70px;
    height:70px;
    padding:10px;
    @apply  place-items-center grid;
    margin-left:2px;
}

#chill img{
    /* padding-left:9px; */
    width: 25px;
    height: 25px;
}
#chill p{
    @apply text-xs text-gray-500		
}
.button1{
    /* @apply place-items-end	 	; */
    padding-top: 175%;
    padding-left: 80%;
}
#button1{
    @apply bg-teal-400 relative ;
    /* margin-top: 90%; */
    width:40px;
    height:40px;
    border-radius:50%;
}
#button1 img{
    @apply inline ;
}